{% load static %}
<title>{% block title %}| GYM | {% endblock %}</title>
<link rel="stylesheet" href="{% static 'tt.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />

{% block content %}

{% include 'userProfile/sidebar.html' %}
<div class="main_content">
    <div class="timetable-container">
        <div class="container">
            <!-- Table -->
            <div class="classtime-table table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Time</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for time, entries in timetable_entries_by_time.items %}
                            <tr>
                                <td class="workout-time">{{ time }}</td>
                                {% for day in days_of_week %}
                                    <td>
                                        {% for entry in entries %}
                                            {% if entry.start_time|date:'l' == day %}
                                                <div class="schedule-entry">
                                                    <span>{{ entry.start_time|date:'H:i' }} - {{ entry.end_time|date:'H:i' }}</span>
                                                    <h6>{{ entry.class_name }}</h6>
                                                    <p>Instructor :{{ entry.instructor }}</p>
                                                    <small>{{ entry.description }}</small>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
