{% load static %}
<title> {% block title %}| GYM | {% endblock %} </title>
<link rel="stylesheet" href="{% static 'css/bmi.css' %}" />
{% block content %}

{% include 'userProfile/sidebar.html' %}

<div class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="auth-container">
                    <h1>Calculate Your BMI</h1>
                    <form>
                        <div class="input-container">
                            <input id="weight" type="number" placeholder="Your weight in kilograms" />
                        </div>
            
                        <div class="input-container">
                            <input id="height" type="number" placeholder="Your height in centimeters" />
                        </div>
            
                        <div class="submit-container">
                            <input class="submit" type="button" value="Submit" onclick="bmi()" />
                        </div>

                        <div class="result-container">
                            <p id="result"></p>
                            <p id="bb"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<script>
function bmi(){
var weight = Number(document.getElementById("weight").value);
var height = Number(document.getElementById("height").value);

var h1=height/100;
var result = weight/(h1*h1);

document.getElementById("result").innerHTML = "Your BMI score is:  " +result;

if(result<18.5)

document.getElementById("bb").innerHTML = "You are underweight";

if(result>24.5)
document.getElementById("bb").innerHTML = "You are overweight";

if(result<24.5 && result>18.5)
document.getElementById("bb").innerHTML ="Your BMI is absolutely normal";
}

</script>
