{% extends "../base.html" %}

{% block body %}
<!-- component sections starts  -->
<div class="conponentSection p-5 sm:ml-64 bg-gray-200">
    <div class="componentWrapper">
        <!-- Quick View  -->
        <div
        class="bg-gray-50 w-full p-4 shadow-xl rounded-md">
            <h3 class="text-2xl font-bold mb-4">QuickView</h3>
            <div class="grid grid-cols-3 gap-4">
                {% comment %} <div class="card bg-blue-900 rounded p-4 text-center text-white grid gap-2">
                    <i class="fa-solid fa-clipboard-user text-4xl"></i>
                    <h4 class="text-2xl">Attendance</h4>
                    <form action="">
                        <button class="bg-white px-4 py-1 text-black font-bold">
                            Give Attendance
                        </button>
                    </form>
                </div> {% endcomment %}
                <div class="card bg-blue-900 rounded p-4 text-center text-white grid gap-2">
                    <i class="fa-solid fa-dumbbell text-4xl"></i>
                    <h4 class="text-2xl">Equipment</h4>
                    <a href="{% url "equipment:activity" %}" class="underline cursor-pointer">Manage Equipment Activities</a>
                </div>
                <div class="card bg-blue-900 rounded p-4 text-center text-white grid gap-2">
                    <i class="fa-solid fa-user-clock text-4xl"></i>
                    <h4 class="text-2xl">Coach</h4>
                    <a href="{% url "coach:activity" %}" class="underline cursor-pointer">Manage Coach Activities</a>
                </div>
                <div class="card bg-blue-900 rounded p-4 text-center text-white grid gap-2">
                    <i class="fa-solid fa-users text-4xl"></i>
                    <h4 class="text-2xl">Members</h4>
                    <a href="{% url "member:bill" %}" class="underline cursor-pointer">Manage Member Activities</a>
                </div>
            </div>
        </div>
        <div
        class="bg-gray-50 w-full p-4 shadow-xl rounded-md mt-4">
            <h3 class="text-2xl font-bold mb-4">Working Schedule for {{user.name}}</h3>
            <ul>
                {% for schedule in user.get_schedules %}
                <li>
                    {{schedule}}       
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock body %}