{% extends "../base.html" %}

{% block body %}
   <!-- component sections starts  -->
   <div class="conponentSection p-5 sm:ml-64 bg-gray-200">
    <div class="componentWrapper">
        <!-- Entry Form starts  -->
        <div class="formSection bg-white p-4 rounded shadow-md mb-4">
            <h3 class="text-2xl font-bold mb-4">New Employee Form</h3>
            <form class="grid grid-cols-3 gap-4" method="post">
              {% csrf_token %}
                <!-- Col 1 -->
                <div class="grid gap-2">
                    <!-- User name -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="username" type="text" placeholder="Username" required />
                    <!-- Name -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="name" type="text" placeholder="Name" required />
                    <!-- DOB  -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="dob" type="date" required />
                </div>
                <!-- Col 2 -->
                <div class="grid gap-2">
                    <!-- Phone -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="phone" type="tel" placeholder="Phone" required />
                    <!-- NID -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="nid" type="text" placeholder="NID" required />
                    <!-- Gender  -->
                    <select name="gender" class="border w-full p-4 leading-tight bg-slate-100">
                        <option hidden>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <!-- Col 3 -->
                <div class="grid gap-2">
                    <!-- Salary -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="salary" type="number" placeholder="Salary" required />
                    <!-- Address -->
                    <textarea class="border w-full p-4 leading-tight bg-slate-100" name="address" placeholder="Address" required ></textarea>
                    <!-- Password  -->
                    <input class="border w-full p-4 leading-tight bg-slate-100" name="password" type="text" placeholder="Password" required />
                </div>
                <!-- Schedule -->
                <div class="col-span-3">
                    <span class="font-semibold mb-1 inline-block">Select Schedule</span>
                    <select name="schedule" multiple class="border w-full p-4 leading-tight bg-slate-100" required>
                        {% for schedule in schedules %}
                          <option value="{{schedule.id}}">{{schedule}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col-span-3">
                    <button
                      class="bg-blue-900 text-white font-bold py-2 px-4 w-full"
                      type="submit">
                      Add New Employee
                    </button>
                  </div>
            </form>
        </div>
      </div>
      <!-- List section starts  -->
      <div class="bg-gray-50 p-4 shadow-xl rounded-md">
        <div class="relative overflow-x-auto h-[28rem]">
          <table class="w-full">
            <thead
              class="text-sm uppercase bg-blue-900 text-gray-50 text-center"
            >
              <tr>
                <th scope="col" class="px-6 py-3">EMP ID</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">phone</th>
                <th scope="col" class="px-6 py-3">salary</th>
                <th scope="col" class="px-6 py-3">Status</th>
                <th scope="col" class="px-6 py-3">View</th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
              <tr class="bg-white border text-sm text-center">
                <td class="px-6 py-4">{{employee.emp_id}}</td>
                <td class="px-6 py-4">{{employee.name}}</td>
                <td class="px-6 py-4">{{employee.phone}}</td>
                <td class="px-6 py-4">{{employee.salary}}</td>
                <td class="px-6 py-4">{{employee.is_active}}</td>
                <td class="px-6 py-4"><a class="underline" href="{% url "user:edit" employee.id %}">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}